
*.swp
__pycache__/

pkg/

data/clean_mouse_data/clean_data.py
data/clean_mouse_data/test_files
data/clean_mouse_data/training_files
data/recorded_features/mapped_sessions.json
data/recorded_features/sessions

src/featuresgenerator/featuresgenerator

# sym links
test/featuresgenerator/featuresgenerator.go
test/featuresgenerator/defines
test/featuresgenerator/commons
test/featuresgenerator/generator

docs/thesis/thesis.pdf

